/* Slider.module.css */
.slider-container {
  margin: 20px auto;
  max-width: 900px;
}

.controls-left-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls-right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.control-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
