/* Slider.module.css */
.slider-container {
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-wrapper {
  width: 100%;
  height: 100%; /* Контейнер для слайда занимает всю высоту */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.control-row {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls-left-wrapper,
.controls-right-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .control-row {
    flex-direction: column;
    align-items: center;
  }

  .controls-left-wrapper,
  .controls-right-wrapper {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .slide-wrapper {
    height: auto;
  }
}
